@font-face {
    font-family: 'standard-serif-bold';
    src: url('../fonts/PPNeueMontreal-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'standard-serif';
    src: url('../fonts/PPNeueMontreal-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'header-font';
    src: url('../fonts/BDOGrotesk-VF.woff2') format('woff2');
}
@font-face {
    font-family: 'recipe-title';
    src: url('../fonts/Panchang/Panchang-Bold.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

h1 {
    text-align: center;
    color: #212721;
    font-size: 20vw;
    margin: 14vw 0 -100px 0;
    font-family: 'header-font';
}

h2 {
    font-family: 'header-font';
    color: #212721;
    font-size: 16vw;
    margin: 10vh 0 3vw 4vw;
}

h3 {
    font-family: 'standard-serif';
    color: #212721;
    text-transform: uppercase;
    font-size: 3vw;
    margin: 0 0 1.4vh 0;
    padding: 0;
}

h4 {
    font-family: 'recipe-title';
    font-size: 3vw;
}

p {
    font-family: 'standard-serif';
    color: #212721;
    font-size: 1.75vw;
    line-height: 1.5;
    margin: 0;

}

spacer {
    display: block;
    height: 300vh;
}

nav {
    position: sticky;
    margin: 8vh 0;
    display: flex;
    justify-content: center;
}

nav a {
    color: #212721;
    font-family: 'standard-serif-bold', Helvetica, sans-serif;
    margin: 0 4vw;
    font-size: 2vw;
    text-transform: uppercase;
    position: relative;
    color: #212721;
}
nav a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #212721;
    transform-origin: bottom right;
    transition: transform 500ms ease-out;
    bottom: -4px;
}
nav a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hidden {
    display: none;
}

.header-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    clip-path: inset(20%);
}

.shiny {
    background-image: -webkit-linear-gradient(left, rgba(33,39,33,1) 0%, rgba(207,204,194,1) 50%, rgba(33,39,33,1) 100%);
    background-image: linear-gradient(90deg, rgba(33,39,33,1) 25%, rgba(207,204,194,1) 50%, rgba(33,39,33,1) 75%);
    background-position: right center;
    background-size: 400% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: #212721;
    -webkit-text-fill-color: transparent;
    transition: color 4000ms linear;
}

.shiny:hover, .shiny:focus {
    background-position: left center;
    color: #212721;
    transition: background-position 1000ms ease-out;
}

.side-by-side {
    display: flex;
    justify-content: space-around;
    margin: 0 4vw;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.side-by-side > * {
    padding: 4% 4%;
    flex: 1 1 300px;
    min-width: 300px;
}

.recipes {
    background-image: url('../assets/line-bg.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-evenly;
}
.recipe {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.64);
    padding: 20px;
    margin: 30px;
    max-width: 25vw;
    min-height: 30vh;

}
.recipe-owner {
    color: rgb(46, 46, 46);
}

.more-recipes {
    width: 100%;
    padding: 30% 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-recipes:hover, .more-recipes:focus {
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.fullscreen-glyph {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
}
.fullscreen-glyph img {
    width: 25%;
    padding: 30px;
}

.rotating-text {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
}
.rotating-text img {
    width: 50%;
    padding: 30px;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.type-text {
    font-family: 'standard-serif', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.6vw;
    color: rgb(62, 62, 62);
    text-align: right;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 60%;
    margin-left: 20%;
    gap: 2vw;
}

.filters button {
    background: rgba(255, 255, 255, 0.62);
    border-radius: 16px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.6px);
    -webkit-backdrop-filter: blur(15.6px);
    border: 1px solid rgba(234, 234, 234, 0.8);
    padding: 2.5%;
    font-family: 'standard-serif', Helvetica, sans-serif;
    min-width: 10vw;
    text-transform: uppercase;
}
.filters .selected {
    background: #212721;
    border: none;
    color: white;
}
