@font-face {
    font-family: 'standard-serif';
    src: url('../fonts/PPNeueMontreal-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'header-font';
    src: url('../fonts/BDOGrotesk-VF.woff2') format('woff2');
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

h1 {
    text-align: center;
    color: #212720;
    font-size: 20vw;
    margin: 20vw 0 -100px 0;
    font-family: 'header-font';
}

spacer {
    display: block;
    height: 300vh;
}

nav {
    margin: 4vh 0;
    display: flex;
    justify-content: center;
}

nav a {
    color: rgb(33, 39, 33);
    font-family: 'standard-serif', Helvetica, sans-serif;
    margin: 0 15px;
    font-size: 2.5vw;
    text-transform: uppercase;
}

.header-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    clip-path: inset(20%);
}